<div class="row">
  <ul *ngFor="let emp of emps">


    <div class="card col-sm">
      <div class="card-body">
        <h4 class="card-title"> <strong>Order:</strong> {{emp.firstName}}</h4>
        <h4 class="card-title"> <strong>Price:</strong> {{emp.lastName}}</h4>
        <p *ngIf="emp.languages?.length > 0" class="card-text"> <strong>Special Instructions: </strong>{{emp.languages}}
        </p>
        <a [routerLink]="['/order-edit', emp.id]" class="btn btn-primary">Edit</a>&nbsp;
        <button (click)="deleteEmployee(emp.id)" class="btn btn-danger">Delete</button>
      </div>
    </div>





  </ul>
</div>